/* moj css */

body {
    background-image: url("/static/img/pozadina2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Yusei Magic', sans-serif;
    color: white;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.pravila {
    border: 5px solid white;
    color: black;
    width: 600px;
    display: flex;
    align-content: center;
    margin-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
}

.forma {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 20px;
    border: 5px solid black;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.broj {
    border: none;
    border-radius: 4px;
}

.gumb {
    background-color: #4d4d33;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    transition-duration: 0.4s;
}
.gumb:hover {
    background-color: #8a8a5c;
    color: black;
    border: none;
}

.poruka {
    border: 5px solid black;
    width: 300px;
    display: flex;
    align-content: center;
    margin-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
}
